<div  class="jumbotron JumboHeaderImg3">
  <div class="container">
    <br><br><br>
    <h1 class="display-3 text-light">Welcome to Formula 1</h1><br>
    <p class="text-light">Enter the world of Formula 1. Your go-to source for the latest F1 news, video highlights, GP results, live timing, in-depth analysis and expert commentary.</p><br><br>
    <br>
    <p><a class="btn btn-primary btn-lg" href="https://www.formula1.com/" role="button">Visit Official Website »</a></p>
    <br><br><br>
  </div>
</div>

<main role="main" class="container">
  <div class="my-3 p-3 bg-white rounded shadow-sm">
    <h3 class="pb-2 mb-0"></h3>
  </div>
  <main>



    <section class="jumbotron text-left ">
      <div class="container">
        <div class="col-md-12 ">
          <h1 *ngIf="f1URI"><a [href]="f1URI" target="_blank"> About Formula One</a></h1>
          <p class="lead text-muted" style="font-size: medium;" *ngIf="abstract">{{abstract}}</p>
          <br>

          <a href="https://www.formula1.com/" type="button" class="btn btn-primary btn-lg">Formula 1 Website</a>
        </div>
      </div>
    </section>
